<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
	<header>
		<div id="logo">Anthony Almanza</div>
		<nav>
			<ul>
				<li><a href="/about">Home</a>
				<li><a href="https://html-css-js.com/">HTML</a>
				<li><a href="https://html-css-js.com/css/code/">CSS</a>
				<li><a href="https://htmlcheatsheet.com/js/">Ruby</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>Welcome to my portfolio!</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Skill sets</h2>

				<p>
          <ul id= "1">
           <li>Ruby on Rails</li>
           <li>Vanilla Javascript</li>
           <li>HTML5</li>
           <li>CSS</li>
          </ul>
        </p>

			</article>
			<article>
				<h2>Bio:</h2>
				<p>Hi, <br>I'm Anthony Almanza and I'm a local phoenician who enjoys working on full stack development. In particular, I enjoy
          working with databases and structures.
        </p>
			</article>
			<article>
				<h2>Ex ignota epicurei quo</h2>
				<p>Quo debet vivendo ex. Qui ut admodum senserit partiendo. Id adipiscing disputando eam, sea id magna pertinax concludaturque. Ex ignota epicurei quo, his ex doctus delenit fabellas, erat timeam cotidieque sit in. Vel eu soleat voluptatibus, cum cu exerci mediocritatem. Malis legere at per, has brute putant animal et, in consul utamur usu.</p>
			</article>
			<article>
				<h2>His at autem inani volutpat</h2>
				<p>Te has amet modo perfecto, te eum mucius conclusionemque, mel te erat deterruisset. Duo ceteros phaedrum id, ornatus postulant in sea. His at autem inani volutpat. Tollit possit in pri, platonem persecuti ad vix, vel nisl albucius gloriatur no.</p>
			</article>
		</main>
		<aside>
			<div><%= image_tag("authorclimber.JPG", :alt => "author", :height => "300px") %></div>
		</aside>
	</section>
	<footer>

	</footer>


</body>

</html>
